.nurse-id{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.nurse-table{
  max-width: 80vw;
  min-width: 60vw;
  text-align: left;
}

.nurse-table td{
  vertical-align: middle;
}

.button-cell{
  text-align: center;
}